In [3]:
import pandas as pd
  # Your actual database name

from sqlalchemy import create_engine

from sqlalchemy import create_engine
from IPython.display import display

engine = create_engine("postgresql+psycopg2://postgres:harsh009%40@localhost:5432/E Store")



# Read the data from the PostgreSQL database into a DataFrame
df_products = pd.read_sql("SELECT * FROM products", engine)
df_orders = pd.read_sql("SELECT * FROM orders", engine)
df_customers = pd.read_sql("SELECT * FROM customers", engine)
df_order_items = pd.read_sql("SELECT * FROM order_items", engine)



# Display the first few rows of each DataFrame

print("Products DataFrame:")
display(df_products.head())
print("\nOrders DataFrame:")
display(df_orders.head())
print("\nCustomers DataFrame:")
display(df_customers.head())
print("\nOrder Items DataFrame:")
display(df_order_items.head())

Products DataFrame:

   p_id    p_name    price
0     1    Laptop  55000.0
1     2     Mouse    500.0
2     3  Keyboard    800.0
3     4     Cable    250.0

Orders DataFrame:

   ord_id    ord_date  cust_id
0       1  2024-01-01        1
1       2  2024-02-01        2
2       3  2024-03-01        3
3       4  2024-04-04        2

Customers DataFrame:

   cust_id cust_name
0        1      Raju
1        2      Sham
2        3      Paul
3        4      Alex

Order Items DataFrame:

   item_id  ord_id  p_id  quantity
0        1       1     1         1
1        2       1     4         2
2        3       2     1         1
3        4       3     2         1
4        5       3     4         5

Show all customer names

In [ ]:
df_customers["cust_name"]

 Show all products cheaper than â‚¹1000

In [ ]:
df_products.query("price<=1000")

#OR 

df_products[df_products["price"] <= 1000]