View basic order items with product info

In [ ]:
SELECT 
    oi.item_id,
    oi.ord_id,
    oi.p_id,
    oi.quantity,
    p.p_name,
    p.price
FROM order_items oi
JOIN products p ON oi.p_id = p.p_id;

Add order date from orders table

In [ ]:
SELECT 
    oi.item_id,
    o.ord_date,
    oi.quantity,
    p.p_name,
    p.price
FROM order_items oi
JOIN products p ON oi.p_id = p.p_id
JOIN orders o ON o.ord_id = oi.ord_id;

Add customer name from customers table

In [ ]:
SELECT 
    c.cust_name,
    o.ord_date,
    p.p_name,
    p.price,
    oi.quantity
FROM order_items oi
JOIN products p ON oi.p_id = p.p_id
JOIN orders o ON o.ord_id = oi.ord_id
JOIN customers c ON o.cust_id = c.cust_id;

Add total price (price Ã— quantity)

In [ ]:
SELECT 
    c.cust_name,
    p.p_name,
    p.price,
    oi.quantity,
    o.ord_date,
    (oi.quantity * p.price) AS total_price
FROM order_items oi
JOIN products p ON oi.p_id = p.p_id
JOIN orders o ON o.ord_id = oi.ord_id
JOIN customers c ON o.cust_id = c.cust_id;