In [4]:
import pandas as pd

# ✅ Load CSV (using forward slashes so no escape sequence issues)
matches = pd.read_csv("IPL Dataset/matches.csv")

# ✅ Make sure all columns show in one line (no wrapping with \)
pd.set_option("display.max_columns", 600)
pd.set_option("display.width", 600)

matches.head(1)  # Display the first few rows of the DataFrame

   id    Season       city        date                team1                        team2                  toss_winner toss_decision  result  dl_applied               winner  win_by_runs  win_by_wickets player_of_match                                      venue      umpire1   umpire2 umpire3
0   1  IPL-2017  Hyderabad  05-04-2017  Sunrisers Hyderabad  Royal Challengers Bangalore  Royal Challengers Bangalore         field  normal           0  Sunrisers Hyderabad           35               0    Yuvraj Singh  Rajiv Gandhi International Stadium, Uppal  AY Dandekar  NJ Llong     NaN

In [ ]:
print("Total Seasons:", matches['Season'].nunique())
print("Seasons:", matches['Season'].unique())

In [ ]:
matches['Season'].value_counts().sort_index()

In [ ]:

matches['venue'].value_counts().head(5)

In [ ]:
matches['toss_winner'].value_counts().head(1)

In [ ]:
matches['winner'].value_counts().head(1)

In [ ]:
matches['player_of_match'].value_counts().head(5)