##SQL PRACTICE WITH IPL DATABSE

List all seasons (years) of IPL

In [ ]:
SELECT DISTINCT season
FROM matches
ORDER BY season;

Show all matches played in 2016 with winner and venue

In [ ]:
SELECT id, city, date, team1, team2, winner, venue
FROM matches
WHERE season = 2016;

Total matches played in each city

In [ ]:
SELECT city, COUNT(*) AS total_matches
FROM matches
GROUP BY city
ORDER BY total_matches DESC;

Top 5 teams with most match wins

In [ ]:
SELECT winner, COUNT(*) AS wins
FROM matches
GROUP BY winner
ORDER BY wins DESC
LIMIT 5;

Find matches where the toss winner also won the match

In [ ]:
SELECT *
FROM matches
WHERE toss_winner = winner;

Who has bowled the most balls in IPL?

In [ ]:
SELECT bowler, COUNT(*) AS balls_bowled
FROM deliveries
GROUP BY bowler
ORDER BY balls_bowled DESC
LIMIT 5;

Who are the top 5 run scorers?

In [ ]:
SELECT batsman, SUM(batsman_runs) AS total_runs
FROM deliveries
GROUP BY batsman
ORDER BY total_runs DESC
LIMIT 5;

How many sixes has each player hit?

In [ ]:
SELECT batsman, COUNT(*) AS sixes
FROM deliveries
WHERE batsman_runs = 6
GROUP BY batsman
ORDER BY sixes DESC
LIMIT 10;

Top 5 strike rates (min 200 balls faced)

In [ ]:
SELECT batsman,
       SUM(batsman_runs) AS runs,
       COUNT(*) AS balls_faced,
       ROUND(SUM(batsman_runs) * 100.0 / COUNT(*), 2) AS strike_rate
FROM deliveries
GROUP BY batsman
HAVING COUNT(*) >= 200
ORDER BY strike_rate DESC
LIMIT 5;

Combine matches and deliveries to find total runs in each season

In [ ]:
SELECT m.season, SUM(d.total_runs) AS total_season_runs
FROM matches m
JOIN deliveries d ON m.id = d.match_id
GROUP BY m.season
ORDER BY m.season;

 Get the batsman who scored the most total runs in IPL

In [ ]:
SELECT batsman
FROM (
    SELECT batsman, SUM(batsman_runs) AS total_runs
    FROM deliveries
    GROUP BY batsman
) AS player_totals
ORDER BY total_runs DESC
LIMIT 1;

 Find the player who hit the most number of sixes

In [ ]:
SELECT batsman
FROM (
    SELECT batsman, COUNT(*) AS sixes
    FROM deliveries
    WHERE batsman_runs = 6
    GROUP BY batsman
) AS six_counts
ORDER BY sixes DESC
LIMIT 1;

List all players who scored more than the average runs in IPL

In [ ]:
SELECT batsman, total_runs
FROM (
    SELECT batsman, SUM(batsman_runs) AS total_runs
    FROM deliveries
    GROUP BY batsman
) AS sub
WHERE total_runs > (
    SELECT AVG(total_runs)
    FROM (
        SELECT SUM(batsman_runs) AS total_runs
        FROM deliveries
        GROUP BY batsman
    ) AS avg_sub
);

 Show the match where the highest total match runs were scored

In [ ]:
SELECT match_id, SUM(total_runs) AS total_match_runs
FROM deliveries
GROUP BY match_id
HAVING total_match_runs = (
    SELECT MAX(total_runs_per_match)
    FROM (
        SELECT match_id, SUM(total_runs) AS total_runs_per_match
        FROM deliveries
        GROUP BY match_id
    ) AS match_totals
);

Find bowlers who gave fewer runs than the average runs conceded

In [ ]:
SELECT bowler, runs_conceded
FROM (
    SELECT bowler, SUM(total_runs) AS runs_conceded
    FROM deliveries
    GROUP BY bowler
) AS sub
WHERE runs_conceded < (
    SELECT AVG(runs)
    FROM (
        SELECT SUM(total_runs) AS runs
        FROM deliveries
        GROUP BY bowler
    ) AS avg_sub
);