##SQL PRACTICE WITH IPL DATABSE

List all seasons (years) of IPL

In [ ]:
SELECT DISTINCT season
FROM matches
ORDER BY season;

Show all matches played in 2016 with winner and venue

In [ ]:
SELECT id, city, date, team1, team2, winner, venue
FROM matches
WHERE season = 2016;

Total matches played in each city

In [ ]:
SELECT city, COUNT(*) AS total_matches
FROM matches
GROUP BY city
ORDER BY total_matches DESC;

Top 5 teams with most match wins

In [ ]:
SELECT winner, COUNT(*) AS wins
FROM matches
GROUP BY winner
ORDER BY wins DESC
LIMIT 5;

Find matches where the toss winner also won the match

In [ ]:
SELECT *
FROM matches
WHERE toss_winner = winner;