#PANDAS PRACTICE USING MY SQL DATABASE OF MARVEL & DC

Q1: TOP 5 MARVEL  movies by BOX OFFICE

In [ ]:
import pandas as pd

from sqlalchemy import create_engine

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)



engine = create_engine('mysql+mysqlconnector://root:harsh009%40@127.0.0.1:3306/titanic')

df_marvel = pd.read_sql("SELECT * FROM marvel", con=engine)
df_minfo = pd.read_sql("SELECT * FROM marvel_info", con=engine)

df_dc = pd.read_sql("SELECT * FROM dc", con=engine)
df_dinfo = pd.read_sql("SELECT * FROM dc_info", con=engine)


df_marvel.sort_values(by="BoxOffice", ascending=False).head(5)

q2 Show all dc movies released after 2015

In [ ]:
import pandas as pd

from sqlalchemy import create_engine

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)



engine = create_engine('mysql+mysqlconnector://root:harsh009%40@127.0.0.1:3306/titanic')

df_marvel = pd.read_sql("SELECT * FROM marvel", con=engine)
df_minfo = pd.read_sql("SELECT * FROM marvel_info", con=engine)

df_dc = pd.read_sql("SELECT * FROM dc", con=engine)
df_dinfo = pd.read_sql("SELECT * FROM dc_info", con=engine)



display(df_dc[df_dc["year"]>2015])

q3 : All Unique marvel directors

In [ ]:
import pandas as pd

from sqlalchemy import create_engine

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)



engine = create_engine('mysql+mysqlconnector://root:harsh009%40@127.0.0.1:3306/titanic')

df_marvel = pd.read_sql("SELECT * FROM marvel", con=engine)
df_minfo = pd.read_sql("SELECT * FROM marvel_info", con=engine)

df_dc = pd.read_sql("SELECT * FROM dc", con=engine)
df_dinfo = pd.read_sql("SELECT * FROM dc_info", con=engine)

#all unique directors of marvel 

df_marvel["director"].unique()

q: count of movies per director

In [ ]:
import pandas as pd

from sqlalchemy import create_engine

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)



engine = create_engine('mysql+mysqlconnector://root:harsh009%40@127.0.0.1:3306/titanic')

df_marvel = pd.read_sql("SELECT * FROM marvel", con=engine)
df_minfo = pd.read_sql("SELECT * FROM marvel_info", con=engine)

df_dc = pd.read_sql("SELECT * FROM dc", con=engine)
df_dinfo = pd.read_sql("SELECT * FROM dc_info", con=engine)

df_marvel["director"].value_counts()

Merge Marvel dataframe with its info

In [ ]:
import pandas as pd

from sqlalchemy import create_engine

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)



engine = create_engine('mysql+mysqlconnector://root:harsh009%40@127.0.0.1:3306/titanic')

df_marvel = pd.read_sql("SELECT * FROM marvel", con=engine)
df_minfo = pd.read_sql("SELECT * FROM marvel_info", con=engine)

df_dc = pd.read_sql("SELECT * FROM dc", con=engine)
df_dinfo = pd.read_sql("SELECT * FROM dc_info", con=engine)

marvel_full = pd.merge(df_marvel, df_minfo, on="movieid", how = "left")
display(marvel_full)

Compare box office of marvel vs DC

In [ ]:
import pandas as pd

from sqlalchemy import create_engine

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)



engine = create_engine('mysql+mysqlconnector://root:harsh009%40@127.0.0.1:3306/titanic')

df_marvel = pd.read_sql("SELECT * FROM marvel", con=engine)
df_minfo = pd.read_sql("SELECT * FROM marvel_info", con=engine)

df_dc = pd.read_sql("SELECT * FROM dc", con=engine)
df_dinfo = pd.read_sql("SELECT * FROM dc_info", con=engine)

df_marvel["Universe"] = "Marvel"
df_dc["Universe"] = "DC"
marvel_dc = pd.concat([df_marvel, df_dc], axis = 0)

marvel_dc.groupby("Universe")["BoxOffice"].sum()

Director with Highest box office in Marvel

In [ ]:
import pandas as pd

from sqlalchemy import create_engine

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)



engine = create_engine('mysql+mysqlconnector://root:harsh009%40@127.0.0.1:3306/titanic')

df_marvel = pd.read_sql("SELECT * FROM marvel", con=engine)
df_minfo = pd.read_sql("SELECT * FROM marvel_info", con=engine)

df_dc = pd.read_sql("SELECT * FROM dc", con=engine)
df_dinfo = pd.read_sql("SELECT * FROM dc_info", con=engine)

df_marvel.groupby("director")["BoxOffice"].sum().sort_values(ascending = False).head(10)

How many dc movies flop

In [57]:
import pandas as pd

from sqlalchemy import create_engine

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)



engine = create_engine('mysql+mysqlconnector://root:harsh009%40@127.0.0.1:3306/titanic')

df_marvel = pd.read_sql("SELECT * FROM marvel", con=engine)
df_minfo = pd.read_sql("SELECT * FROM marvel_info", con=engine)

df_dc = pd.read_sql("SELECT * FROM dc", con=engine)
df_dinfo = pd.read_sql("SELECT * FROM dc_info", con=engine)


df_dinfo.query("verdict == 'Flop'").shape[0]

1

TOP 3 MARVEL MOVIES WITH VERDICT , RLEASE YEAR AND DIRECTOR

In [ ]:
import pandas as pd

from sqlalchemy import create_engine

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)



engine = create_engine('mysql+mysqlconnector://root:harsh009%40@127.0.0.1:3306/titanic')

df_marvel = pd.read_sql("SELECT * FROM marvel", con=engine)
df_minfo = pd.read_sql("SELECT * FROM marvel_info", con=engine)

df_dc = pd.read_sql("SELECT * FROM dc", con=engine)
df_dinfo = pd.read_sql("SELECT * FROM dc_info", con=engine)

df_marvelall = pd.merge(df_marvel, df_minfo, on="movieid", how = "left")


df_marvelall[["title","year","verdict","BoxOffice"]].sort_values(by="BoxOffice", ascending=False).head(3)